4sem/OOP/LabsC#_2/lab3/scheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Directory">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Record">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrganizationName" type="xs:string" />
              <xs:element name="OrganizationType" type="xs:string" />
              <xs:element name="Adress" type="xs:string" />
              <xs:element name="PhoneNumber" type="xs:string" />
              <xs:element name="EmployNumbers" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>